//首页浮层
.modal-backdrop {
  filter: alpha(opacity=50);
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.ad-content {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -375px;
  margin-top: -275px;
  z-index: 1045;
  width: 750px;
  height: 550px;
  text-shadow: 3px 3px 2px #fff;
  a {
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    .img-responsive {
      max-width: 100%;
      height: auto;
    }
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1050;
    font-size: 32px;
    line-height: 1;
    cursor: pointer;
  }
}

.text-center {
  text-align: center;
}

//登录
body {
  height: auto;
}

.top-cont {
  height: 70px;
  position: relative;
  width: 1080px;
  margin: 0 auto;
  .logo {
    display: block;
    float: left;
    margin: 10px 20px 0 0;
  }
  p {
    display: block;
    float: left;
    line-height: 70px;
    font-size: 14px;
    margin: 0;
  }
  .go-form {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    float: right;
    font-size: 14px;
    color: #323232;
    margin: 14px 0 0 0;
    cursor: pointer;
    .log{
      color: #f8b62b;
    }
    .reg {
      color: #f34e3e;
    }
  }
}

.form-content {
  width: 420px;
  padding-bottom: 30px;
  background: #fff;
  position: absolute;
  z-index: 11;
  top: 120px;
  right: 0;
  h1 {
    font-size: 18px;
    color: #ffbf00;
    line-height: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .form-bar {
    position: relative;
    margin: 0 auto 20px;
    width: 360px;
    input {
      height: 42px;
      line-height: 1;
      //border: 1px solid #d9d9d9;
      border-radius: 3px;
      padding: 5px 35px 5px 5px;
    }
    .p-error {
      color: #f23030;
      font-size: 14px;
      line-height: 20px;
      top: 42px;
      left: 0;
      position: absolute;
      &.tips {
        color: #307bf2;
      }
    }
    .icon {
      margin-right: 5px;
    }
    .cipherText {
      position: absolute;
      right: 5px;
      top: 0;
      display: block;
      width: 30px;
      line-height: 40px;
      font-size: 32px;
      cursor: pointer;
      transition: all .3s ease;
      color: #f8b62b;
    }
  }
  .piaochecked {
    background: #fff url(../assets/images/icon_agree_off.jpg) no-repeat 0 9px;
    background-size: 14px;
    width: 360px;
    height: 40px;
    margin: 0 auto;
    input {
      width: 14px;
      height: 14px;
      float: left;
      margin: 9px 4px 0 0;
      opacity: 0;
      cursor: pointer;
    }
    span {
      display: block;
      float: left;
      font-size: 14px;
      line-height: 30px;
      color: #323232;
    }
    .forget-pwd {
      font-size: 14px;
      line-height: 34px;
      color: #307bf2;
      float: right;
    }
    .forget-pwd:hover {
      text-decoration: underline;
    }
  }
  .btn-login {
    width: 360px;
    //height: 40px;
    line-height: 40px;
    display: block;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
  }
}

.long-inp {
  width: 320px;
}

.slider {
  overflow: hidden;
  width: 100%;
  height: 452px;
  z-index: 10;
  position: relative;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: auto 100%;
  .background {
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
    top: 0;
    bottom: 0;
    right: 0;
    .bannerLoad {
      position: absolute;
      height: 100%;
      width: 1920px;
      left: 0;
    }
  }
}

.piaochecked-high {
  background: #fff url(../assets/images/icon_agree_on.jpg) no-repeat 0 9px !important;
  background-size: 14px !important;
}

.bottom-cont {
  border-top: 2px solid #dadada;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 60px;
  color: #666;
  position: fixed;
  bottom: 0;
  left: 0;
  a {
    color: #666;
    transition: all .3s ease;
  }
  a:hover {
    color: #ffbf00;
  }
}

/*注册*/
.register {
  .log {
    color: #f8b62b;
  }
  .form-content {
    width: 420px;
    padding-bottom: 30px;
    background: #fff;
    position: absolute;
    z-index: 11;
    top: 120px;
    right: 0;
    .input-box {
      width: 227px;
      float: left;
      margin-right: 10px;
      position: relative;
      .img-responsive {
        max-width: 100%;
        height: auto;
      }
    }
    .short-inp {
      width: 227px;
    }
    .img-box {
      width: 90px;
      float: left;
      padding-top: 6px;
    }
    .refresh {
      width: 30px;
      float: left;
      color: #f8b62b;
      cursor: pointer;
      line-height: 34px;
      margin-top: 5px;
    }
    .btn-code {
      float: right;
      width: 120px;
      height: 42px;
      line-height: 42px;
      padding: 0;
      font-size: 14px;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      transition: all .2s ease;
    }
    .recommend-box {
      width: 360px;
      margin: 0 auto 14px;
      font-size: 14px;
      height: 20px;
      line-height: 20px;
      cursor: pointer;
      background: url(../assets/images/icon_recommend_down.png) no-repeat 80px 50%;
      background-size: 8px;
      transition: all .3s ease;
    }
    span {
      /*display: block;
      float: left;
      font-size: 14px;
      line-height: 30px;
      color: #323232;*/
      a {
        color: #307bf2;
      }
    }
    .btn-register {
      width: 360px;
      height: 40px;
      line-height: 40px;
      padding: 0px;
      font-size: 16px;
      display: block;
      margin: 0 auto;
    }
  }
  .slider2 {
    height: 528px !important;
  }
  .recommend-box-high {
    background: url(../assets/images/icon_recommend_up.png) no-repeat 80px 50% !important;
    background-size: 12px !important;
  }

}

/*找回登录密码*/
.findPwd-content {
  width: 600px;
  margin: 6% auto 0;
  position: relative;
  .logo {
    margin: 0 auto 50px;
    display: block;
  }
  .cen {
    color: #f4da8b;
    font-size: 18px;
    line-height: 60px;
  }
  .form-content-back {
    position: inherit !important;
    margin: 20px auto 0;
  }
  .form-content {
    width: 420px;
    padding-bottom: 30px;
    background: #fff;
    position: absolute;
    z-index: 11;
    top: 120px;
    right: 0;
    .form-bar {
      position: relative;
      width: 360px;
      margin: 0 auto 20px;
      .input-box {
        width: 227px;
        float: left;
        margin-right: 10px;
        position: relative;
      }
      input {
        //border: 1px solid #d9d9d9;
        border-radius: 3px;
        padding: 5px 35px 5px 5px;
        height: 42px;
        line-height: 1;
        display: inline-block;
        vertical-align: top;
        margin: 0;
      }
      .long-inp {
        width: 362px;
      }
      .short-inp {
        width: 227px;
      }
      .img-box {
        width: 90px;
        float: left;
        padding-top: 6px;
        .img-responsive {
          max-width: 100%;
          height: auto;
        }
      }
      .refresh {
        width: 30px;
        float: left;
        color: #f8b62b;
        cursor: pointer;
        line-height: 34px;
        margin-top: 5px;
      }
      .vCode {
        float: right;
        width: 120px;
        height: 42px;
        line-height: 42px;
        font-size: 14px;
        padding: 0;
      }
      .cipherText {
        position: absolute;
        right: 5px;
        top: 0;
        display: block;
        width: 30px;
        line-height: 40px;
        font-size: 32px;
        cursor: pointer;
        transition: all .3s ease;
        color: #f8b62b;
      }
    }
    .btn-find {
      width: 360px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      display: block;
      margin: 0 auto;
      padding: 0;
    }
  }
}

//开户
.OpenAccount {
  background: #f3f3f7 !important;
  .personal-bar {
    .img-content{
      width: 220px;
      height: 120px;
      /*border: 2px dashed #d9d9d9;
      background: #dedede;
      font-size: 80px;
      line-height: 100px;
      text-align: center;
      color: #c9c9c9;*/
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
    }
    .realname-inpro{
      margin-left: 40px;
      padding-top:20px;
      display: inline-block;
      vertical-align: top;
      h1{
        width: 100%;
      }
      p{
        color: #9e9e9e;
      }
    }
  }
}

.open-account {
  margin: 50px auto;
  background: #fff;
  .account-content {
    padding: 30px 166px 100px;
    .account-top {
      color: #ffbf00;
      border-bottom: 1px solid #d9d9d9;
      font-size: 18px;
      text-align: center;
      line-height: 66px;
    }
    .account-form {
      text-align: center;
      padding-top: 50px;
      margin-left: -64px;
      .form-bar {
        position: relative;
        width: 558px;
        margin: 0 auto 30px;
        .input-label {
          width: 140px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          margin-right: 20px;
          display: inline-block;
          text-align: right;
        }
        input {
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          padding: 5px 35px 5px 5px;
          height: 40px;
          line-height: 1;
          display: inline-block;
          vertical-align: top;
          &:focus {
            outline: none;
            border-color: #ffbf00;
          }
        }
        .long-inp {
          width: 386px;
        }
        .short-inp {
          width: 194px;
        }
        select {
          font-size: 16px;
          width: 193px;
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          padding: 5px 35px 5px 5px;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          vertical-align: middle;
        }
        .address {
          display: inline-block;
        }
        .select-03 {
          margin-top: 30px;
          margin-left: 168px;
          width: 392px;
        }
        .p-error {
          color: #f23030;
          font-size: 14px;
          line-height: 20px;
          top: 48px;
          left: 166px;
          position: absolute;
        }
        .pro-tip {
          margin-left: 162px;
          color: #999;
        }
        .vCode {
          float: right;
          width: 120px;
          height: 42px;
          line-height: 42px;
          font-size: 14px;
        }
      }
      .bas-btn {
        background: #ffbf00;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
          background: #f5a300;
        }
      }
      .form-submit {
        width: 386px;
        height: 40px;
        line-height: 30px;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        margin-left: 296px;
      }
    }
  }
}

//开户浮层
.oppen-acc {
  width: 556px;
  /* height: 440px; */
  background: #fff;
  position: fixed;
  top: 15%;
  left: 0;
  right: 0;
  bottom: auto;
  margin: auto;
  z-index: 1070;
  border-radius: 2px;
  color: #333;
  padding: 60px 28px 0;
  .close {
    font-size: 36px;
    position: absolute;
    right: 28px;
    top: 12px;
    color: #565757;
  }
  .oppen-acc-content {
    background: url("../assets/images/open-acc-bg.jpg") no-repeat;
    width: 500px;
    height: 230px;
    .oppen-img {
      margin: 46px 38px 26px;
    }
    .oppen-line {
      display: inline-block;
      width: 2px;
      border-right: 1px solid #d9D9D9;
      height: 30px;
      margin-top: 56px;
      line-height: 30px;
    }
    .oppen-text1 {
      width: 330px;
      margin: 0 auto;
      font-size: 18px;
    }
    .oppen-text2 {
      width: 294px;
      margin: 0 auto;
      a {
        margin-left: 10px;
      }
    }
  }
  .oppen-btn {
    display: block;
    width: 220px;
    height: 40px;
    line-height: 30px;
    margin: 50px auto;
    font-size: 16px;
  }
}

.bas-btn {
  background: #ffbf00;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  transition: all .2s ease;
  &:hover {
    background: #f5a300;
    color: #fff;
  }
}

/*.icon {
  cursor: pointer;
}*/

.active {
  color: #f8b62b;
}

//激活
.ActivateAccount {
  background: #f3f3f7 !important;
  .open-account {
    padding: 30px 166px 100px;
    .account-top {
      color: #ffbf00;
      border-bottom: 1px solid #d9d9d9;
      font-size: 18px;
      text-align: center;
      line-height: 66px;
    }
    .account-tip {
      font-size: 18px;
      width: 440px;
      margin: 40px auto 0;
    }
    .account-form {
      text-align: center;
      padding-top: 50px;
      margin-left: -64px;
      .form-bar {
        position: relative;
        width: 558px;
        margin: 0 auto 30px;
        .input-label {
          width: 140px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          margin-right: 20px;
          display: inline-block;
          text-align: right;
        }
        .activa-input {
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          padding: 5px 35px 5px 10px;
          height: 40px;
          line-height: 30px;
          display: inline-block;
          vertical-align: top;
          text-align: left;
        }
        .long-inp {
          width: 346px;
        }
      }
      .form-submit {
        width: 386px;
        height: 40px;
        line-height: 30px;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        margin-left: 296px;
      }
    }
  }
}

//儲值
.rechar-tab {
  margin-top: 46px;
  position: relative;
  .tab {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-top: 2px solid #d9d9d9;
    border-left: 2px solid #d9d9d9;
    border-right: 2px solid #d9d9d9;
    display: inline-block;
    vertical-align: top;
    float: left;
    cursor: pointer;
  }
  .tab-hover {
    color: #f8b62b;
    border-top: 2px solid #f8b62b !important;
  }
  .tab-wy {
    border-left: none;
  }
  .rechar-tab-tips {
    color: #307bf2;
    text-decoration: underline;
    float: right;
    height: 50px;
    line-height: 50px;
  }
  .kj-content {
    border: 1px dashed #dbdbdb;
    padding: 20px 20px 70px 70px;
    margin: 50px auto 40px;
    line-height: 32px;
    font-size: 14px;
    width: 840px;
  }
  .bar {
    margin-top: 30px;
    position: relative;
    h1 {
      width: 90px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      float: left;
      margin-right: 4px;
    }
    label {
      height: 40px;
      line-height: 40px;
      display: inline-block;
      margin-top: 20px;
    }
  }
  .form-bar {
    margin-top: 30px;
    position: relative;
    .input-label {
      width: 90px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      float: left;
      margin-right: 4px;
    }
    input {
      width: 290px;
      height: 40px;
      line-height: 1;
      padding: 5px 35px 5px 5px;
      border-radius: 3px;
      border: 1px solid #d9d9d9;
      float: left;
    }
    .vCode {
      width: 138px;
      height: 40px;
      line-height: 22px;
      font-size: 16px;
      display: block;
      float: left;
      padding: 10px;
      margin-left: 20px;
    }
    .bas-btn {
      background: #ffbf00;
      color: #fff;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      transition: all .2s ease;
    }
    .p-error {
      color: #f23030;
      font-size: 14px;
      line-height: 20px;
      top: 48px;
      left: 94px;
      position: absolute;
    }
  }
  .kj-sj {
    background: url("../assets/images/rech_sj.jpg") no-repeat;
    position: absolute;
    width: 54px;
    height: 19px;
    top: 34px;
    left: 78px;
    z-index: 1;
  }
  .wy-content {
    border: 1px dashed #dbdbdb;
    padding: 20px 20px 70px 70px;
    margin: 50px auto 40px;
    line-height: 32px;
    font-size: 14px;
    width: 840px;
    h1 {
      width: 90px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
      float: left;
      margin-right: 4px;
      margin-top: 30px;
    }
    .bank-list {
      width: 654px;
      margin-top: 32px;
      margin-left: 94px;
      li {
        float: left;
        list-style-type: none;
        margin-right: 40px;
        margin-bottom: 24px;
        cursor: pointer;
        .select {
          //margin-top: 8px;
          background: url("../assets/images/rech-01.jpg") no-repeat;
          left: -20px;
          height: 20px;
          width: 20px;
          display: inline-block;
        }
        .bank-img {
          border: 1px solid #dbdbdb;
          width: 140px;
          height: 40px;
        }
      }
    }
  }
}
.rechar-after{
  font-size: 16px;
text-align: center;
  .rechar-remi{
    margin-top: 50px;
    color:#999;
  }
  .rechar-amount{
    color:#f32424;
    font-size: 30px;
  }
  .rechar-status{
    color:#f8b62b;
    margin-bottom: 60px;
  }
  div{
    width: 550px;
    margin:0 auto;
    line-height: 30px;
    label{
      float: left;
      color: #999;
    }
    span{
      float: right;
    }
    .set-color{
      color:#f32424;
    }
  }
  .btn-warning{
    margin-left: 260px;
  }
}
.wy-sj {
  left: 282px !important;
}

//提现
#hasBalance {
  .with-tip {
    border: 1px dashed #dbdbdb;
    padding: 20px;
    margin: 162px auto 40px;
    line-height: 32px;
    font-size: 14px;
    .tip-top {
      color: #f27900;
      font-weight: bold;
    }
    p {
      color: #999999;
      position: initial;
      font-size: 14px;
      line-height: 32px;
      //left: 6px;
    }
  }
}

//换绑银行卡
.changeBankCard-content {
  .account-content {
    padding: 30px 100px;
    .account-form {
      text-align: center;
      padding-top: 30px;
      margin-left: -64px;
      .bank-line {
        margin-left: -14px;
      }
      .bank-tip {
        margin: 24px 0;
        margin-left: -188px;
        color: #999999;
      }
      .form_bar {
        position: relative;
        width: 558px;
        margin: 0 auto 30px;
        .input-label {
          width: 140px;
          height: 40px;
          line-height: 40px;
          font-size: 16px;
          margin-right: 20px;
          display: inline-block;
          text-align: right;
        }
        .form_lab {
          width: 390px;
          display: inline-block;
          text-align: left;
        }
        input {
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          padding: 5px 35px 5px 5px;
          height: 40px;
          line-height: 30px;
          display: inline-block;
          vertical-align: top;
        }
        .pro-tip {
          margin-left: 162px;
          color: #999;
        }
        .long_inp {
          width: 386px;
        }
        .p-error {
          color: #f23030;
          font-size: 14px;
          line-height: 20px;
          top: 48px;
          left: 166px;
          position: absolute;
        }
        .vCode {
          float: right;
          width: 120px;
          height: 42px;
          line-height: 42px;
          font-size: 14px;
        }
        .address {
          display: inline-block;
        }
        select {
          font-size: 16px;
          width: 193px;
          border: 1px solid #d9d9d9;
          border-radius: 3px;
          padding: 5px 35px 5px 5px;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          vertical-align: middle;
        }
        .select-03 {
          //margin-top: 30px;
          //margin-left: 168px;
          width: 392px;
        }
      }
      .form_submit {
        width: 190px;
        height: 40px;
        line-height: 30px;
        font-size: 16px;
        display: inline-block;
        margin: 0 auto;
        /* margin-left: 178px; */
      }
      .bas_btn {
        background: #ffbf00;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        transition: all .2s ease;
        &:hover {
          background: #f5a300;
          color: #fff;
        }
      }
      .btn_pre {
        width: 190px;
        height: 40px;
        line-height: 30px;
        font-size: 16px;
        display: inline-block;
        margin: 0 auto;
        margin-left: 170px;
        background: #fff;
        color: #ffbf00;
        border: 1px solid #ffbf00;
      }
      .chbk-btn {
        width: 190px;
        height: 40px;
        line-height: 30px;
        font-size: 16px;
        display: block;
        margin-left: 240px;
        margin-top: 40px;
      }
      .third-img {
        margin: 100px 0 10px;
      }
      .third-text {
        font-size: 20px;
      }
    }
  }
}

.front,.noviceArea {
  .info img {
    float: left;
    margin-top: -5px;
    margin-right: 10px;
  }
  .front-banner {
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.header-nav {
  .logo-tip {
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
  }
}

//亲子计划成长任务
.parent-child {
  .receive-orange {
    background: #f0ab40 !important;
  }
  .plan-gift {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    /*.mask {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url(../assets/images/mask_bg.png);
      z-index: 11;
      display: none;
    }*/
    .item-box {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 500px;
      height: 420px;
      margin-top: -230px;
      margin-left: -250px;
      z-index: 1000;
      background: #fff;
      .close {
        position: absolute;
        top: 10px;
        right: 12px;
        font-size: 32px;
        color: #000;
        line-height: 1;
      }
      .text-center {
        text-align: center;
        .gift-img {
          padding-top: 20px;
          img {
            border: 1px solid #d9d9d9;
            width: 240px;
          }
        }
        .tip {
          font-size: 18px;
          font-weight: bold;
          .gift-name {
            color: #f27c61;
          }
        }
        .gift-pro {
          font-size: 14px;
          padding: 20px;
          text-align: left;
          a {
            color: #f27c61;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.parent-child-user-info {
  .level {
    img {
      width: 20px;
    }
  }
  .pro-bar-w {
    width: 110px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    .pro-bar-n {
      width: 0;
      height: 4px;
      background-color: #45b0e5;
      border-radius: 5px;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
  .empiric-value {
    color: #aa9e91;
    line-height: 25px;
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/images/mask_bg.png);
  z-index: 11;
  display: none;
}

.set-modal {
  .item-set {
    position: fixed;
    width: 526px;
    height: 302px;
    top: 25%;
    left: 36%;
    background: #fff;
    z-index: 12;
    padding: 30px 20px;
    border-radius: 5px;
    font-size: 18px;
    .set-group {
      height: 24px;
      margin-top: 32px;
      line-height: 30px;
      .text-label {
        width: 100px;
        float: left;
        line-height: 40px;
      }
      .radio-ctrl {
        padding-left: 115px;
        padding-top: 6px;
        .half-box {
          width: 50%;
          float: left;
          input {
            margin-right: 3px;
          }
        }
      }
      .form-ctrl {
        padding-left: 115px;
        #babyAge {
          width: 258px;
          height: 40px;
          border: 1px solid #d9d9d9;
        }
        .age-error {
          display: none;
          color: #f23030;
          font-size: 14px;
        }
        .set-btn {
          width: 258px;
          height: 40px;
          margin-top: 18px;
          cursor: pointer;
          .btn {
            line-height: 24px;
          }
        }
      }
    }
  }
}

//开户失败
.OpenAccountFail, .OpenAccountSuccess {
  background: url(../assets/images/form_bg.jpg) repeat;
  margin-top: 10px;
  overflow: hidden;
  .content {
    width: 300px;
    text-align: center;
    height: 280px;
    position: relative;
    margin: 220px auto 20px;
    img {
      display: block;
      float: left;
      margin-top: 15px;
    }
    .cont {
      width: 400px;
      text-align: left;
      margin-left: 0;
      float: right;
      position: absolute;
      left: 50%;
      top: 8%;
      #errorInfo {
        width: 100%;
        display: block;
        margin: 0 auto;
        line-height: 30px;
        color: #f8b62b;
        font-size: 24px;
        word-break: break-all;
        padding-bottom: 4px;
        margin-bottom: 20px;
      }
    }
  }
}
.upLoadImage{
  .modal-dialog {
    top: 15%;
    position: absolute;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    z-index: 1050;
    background: #fff;
    border-radius: 5px;
    .modal-body{
      .input {
        width: 200px;
        float: left;
      }
      .btn-info {
        background: #f8b62b;
        border: 1px solid #f8b62b;
        color: #fff;
        min-width: 80px;
        margin-left: 12px;
      }
    }
  }
  .modal-footer {
    border-top: 1px solid #dbdbdb;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    padding: 0;
    .footer-confirm {
      width: 50%;
      float: left;
      padding: 13px;
      box-sizing: border-box;
      text-align: center;
    }
    .light {
      background: #f8b62b;
      color: #fff;
    }
  }
}

.cipherText {
  position: absolute;
  left: 396px;
  top: 0;
  width: 30px;
  height: 40px;
  cursor: pointer;
  transition: all .3s ease;
  color: #f8b62b;
  font-size: 24px !important;
}

.section-title-text {
  display: inline-block;
  font-size: 14px;
  color: #666;
  padding-left: 10px;
  margin-left: 4px;
  border-left: 1px solid #d9d9d9;
}

.front {
  .content {
    .xrt-row {
      height: 136px;
      border-bottom: 1px solid #d9d9d9;
      margin: 0;
      padding-top: 20px;
      .col-xs-4 {
        border-right: 1px solid #d9d9d9;
        text-align: center;
      }
      .col-xs-3 {
        width: 23%;
        border-right: 1px solid #d9d9d9;
        text-align: center;
      }
    }
    .xrt-row-new-user{
      height: 172px;
    }
    .xrt-row-new-novice{
      height: 245px;
    }
    .product-noviceArea-desc{
      font-size: 14px;
      text-align: left;
      width: 215px;
      margin: 0 auto;
    }
    .row {
      margin: 0;
      .xrt-btn {
        width: 372px;
        display: inline-block;
        text-align: center;
        height: 46px;
        line-height: 40px;
      }
      .limit-btn {
        color: #f8b62b;
      }
    }
    .set-margin {
      margin-left: 100px;
      margin-top: -10px;
    }
  }
  .product-result {
    .list-title {
      width: 100%;
      height: 60px;
      line-height: 60px;
      color: #777676;
      font-size: 16px;
      background: #fff;
    }
    .product-bar {
      width: 100%;
      height: 50px;
      line-height: 50px;
      color: #323232;
      font-size: 16px;
      background: #fff;
    }
    .product-bar-high {
      background: #fafafa;
    }
    .list-bar {
      div {
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .list-color {
        color: #459ed7;
      }
      .list1 {
        width: 140px;
        padding-left: 20px;
        //border-right: 1px solid #f2f2f2;
        span {
          font-size: 24px;
        }
      }
      .list2 {
        width: 140px;
        text-align: center;
        //border-right: 1px solid #f2f2f2;
        cursor: pointer;
      }
      .list3 {
        width: 150px;
        text-align: center;
        //padding-right: 20px;
        //border-right: 1px solid #f2f2f2;
        span {
          font-size: 24px;
        }
      }
      .list4 {
        width: 190px;
        text-align: center;
        //border-right: 1px solid #f2f2f2;
      }
      .list5 {
        width: 290px;
        text-align: center;
        //border-right: 1px solid #f2f2f2;
        //padding-right: 20px;
        .progress-box {
          width: 126px;
          padding-left: 5px;
          padding-right: 0px;
          font-size: 14px;
        }
        .progress-text {
          display: inline-block;
          line-height: 24px;
          margin-top: 10px;
        }
        .progress {
          width: 100px;
          height: 5px;
          margin-bottom: 0;
          margin-top: 18px;
          background: #f5f5f5;
        }
      }
      .list6 {
        width: 140px;
        text-align: center;
      }

    }
  }
}

.forget-pay-pwd{
  position: absolute;
  right: 14px;
  font-size: 12px;
  color: #f8b62b;
  top: 44px;
  text-decoration: underline;
}

.forget-pay-pwd-rech{
  position: relative;
  left: 374px;
  font-size: 12px;
  color: #f8b62b;
  top: 16px;
  text-decoration: underline;
}

.p-error {
  color: #f23030;
  font-size: 14px;
  line-height: 20px;
  top: 42px;
  left: 0;
  position: absolute;
}
.imgLod{
  background:#000 url("../assets/images/img-loding.gif") center center no-repeat;
  opacity: .5;
}
.noviceArea-parper{
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  .noviceArea-tit{
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }
  .noviceArea-desc{
    padding-left: 20px;
  }
}
.noviceArea-video{
  background: #fff;
  padding: 30px;
}

.riskAssessment{
  background: #fff;
  width: 1080px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  .risk-container{
    padding-bottom: 20px;
    .risk-head{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      border-bottom: 1px solid #ccc;
      .risk-head-skip{
        color: #3c64a0;
        cursor: pointer;
      }
    }
    .risk-question{
      padding: 0 20px;
      margin-bottom: 20px;
      .risk-queston-tip{
        background: #fefaf4;
        color: #e29646;
        margin: 15px 0;
      }
    }
    .risk-radio-question{
      list-style: none;
      border-bottom: 1px solid #ccc;
      li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 15px 0;
      }
      .select-img{
        position: absolute;
        display: inline-block;
        width: 22px;
        height: 22px;
        background: url('../../static/img/blank-radio.png');
        background-size: 100% 100%;
      }
      .select-active-img{
        background: url('../../static/img/radio-checked2.png');
        background-size: 100% 100%;
      }
      input[type=radio] {
        opacity: 0;
        position: absolute;
        z-index: 20;
        width: 22px;
        height: 22px;
        margin: 0;
      }
      .desc-answer{
        margin-left: 35px;
      }
    }
    .risk-question .risk-radio-question:last-child{
      border: none;
    }
    .submit-btn{
      width: 160px;
      height: 40px;
      line-height: 40px;
      border-radius: 5px;
      text-align: center;
      background: #f15a24;
      margin: 0 auto;
      color: #fff;
      cursor: pointer;
    }
  }
}
.plan-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 230px;
  .plan-case-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #fff;
    height: 100%;
    padding: 20px;
    width: 33%;
    padding-bottom: 0;
    .plan-case-item-t{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding-bottom: 30px;
      .rate{
        color: #f15a24;
        font-size: 24px;
      }
      .desc {
        color: #bdbdbd;
        font-size: 14px;
        margin-top: 15px;
      }
      .date{
        color: #333333;
        font-size: 24px;
      }
      .plan-case-item-t-m{
        width: 1px;
        height: 60px;
        background: #ccc;
      }
      p{
        text-align: center;
      }
    }
    .plan-case-item-b{
      text-align: center;
      margin-top: 20px;
      width: 100%;
      color: #f15a24;
      cursor: pointer;
    }
  }
}

.bucketGlod{
  .nav-bar-tit{
    width: 1080px;
    margin: 10px auto;
    a, span{
      color: #636363;
      font-size: 12px;
    }
  }
  .content-warp{
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 56px;
    .bucket-top{
      background: #fff;
      .bucket-top-hed{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        .bucket-top-hed-lf{
          .bucket-top-hed-lf-h{
            color: #000000;
            font-size: 16px;
            padding-right: 10px;
            border-right: 1px solid #ccc;
          }
          .bucket-top-hed-lf-d{
            color: #999999;
            font-size: 12px;
            padding-left: 10px;
          }
        }
        .bucket-top-hed-ri{
          color: #3c64a0;
          cursor: pointer;
        }
      }
      .bucket-top-con{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background: #fff;
        height: 200px;
        border-top:1px solid #f2f2f2;
        .bucket-top-con-lf{
          width: 60%;
          height: 100%;
          border-right: 1px solid #f2f2f2;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .divider-line{
            width: 1px;
            background: #ccc;
            height: 80px;
          }
          p{
            text-align: center;
          }
          .rate-num{
            span{
              color: #f15a24;
            }
            span:first-child{
              color: #f15a24;
              font-size: 28px;
            }
          }
          .date-num,.money-num{
            font-size: 28px;
            color: #333;
            span{
              font-size: 12px;
            }
          }
          .desc{
            color: #b3b3b3;
            font-size: 12px;
            margin-top: 20px;
          }
          .rate,.date,.money{
            position: relative;
          }
          .bottom-img{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 200px;
            position: absolute;
            bottom: -40px;
            height: 30px;
            img{
              width: 18px;
            }
            span{
              height: 24px;
              line-height: 30px;
              margin-left: 5px;
            }
          }
          .second{
            left:-28px;
          }
        }
        .bucket-top-con-ri{
          width: 40%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          padding-left: 40px;
          padding-top: 30px;
          p{
            color: #808080;
            a{
              color: #3c64a0;
            }
          }
          .money-warp{
            display: flex;
            align-items: center;
            width: 260px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 8px;
            input{
              width: 240px;
              height: 100%;
              border: none;
              outline: none;
              text-indent: 5px;
              &::placeholder{
                font-size: 12px;
              }
            }
          }
          .desc{
            width: 240px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
            span{
              font-size: 12px;
              color: #ccc;
            }
          }
          .bucket-top-btn{
            margin-top: 20px;
            text-align: center;
            width: 250px;
            height: 40px;
            line-height: 40px;
            background: #f15a24;
            color: #fff;
            border-radius: 8px;
          }
        }
      }
    }
    .plan-warp{
      width: 1080px;
      background: #fff;
      height: 300px;
      margin-top: 20px;
      .plan-warp-hed{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #ccc;
        .jion-plan{
          color: #3c64a0;
          cursor: pointer;
        }
      }
      .plan-warp-con{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        .plan-warp-con-lf,.plan-warp-con-ri{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .date-start{
            align-self: flex-start;
          }
          .line-path{
            width: 40px;
            height: 20px;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: red;
            align-self: flex-start;
          }
          .bg-progess{
            width: 200px;
            height: 40px;
            text-align: center;
            color: #fff;
            line-height: 40px;
            background: red;
          }
        }
        .plan-warp-con-ri{
          margin-left: 10px;
          .date-start{
            width: 600px;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .bg-progess{
            width: 600px;
            background: #e5e5e5;
            color: #333;
          }
          .line-path{
            border-color: #ccc;
          }
        }
      }
    }
    .desc-answer-warp{
      margin-top: 20px;
      width: 1080px;
      background: #fff;
      .desc-answer-hed{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        div{
          position: relative;
          cursor: pointer;
        }
        .active-select{
          &::after {
            content: '';
            position: absolute;
            border-bottom: #1F5EB7;
            width: 100%;
            transform: scaleX(1);
            height: 4px;
            left: 0;
            bottom: -20px;
            background-color: #1F5EB7;
            transform-origin: bottom right;
            transition: transform 0.25s ease-out;
          }
        }
      }
    }
  }
}

.PlanProgress{
  width: 1080px;
  background: #fff;
  .plan-list-warp{
    list-style: none;
  }
  .plan-list-item{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    .tit{
      width: 100px;
      text-align: right;
      margin-right: 20px;
      color: #999999;
    }
    .tit-con{
      width: 800px;
      ul{
        list-style: none;
        padding: 0;
      }
    }
  }
}

.planned-performance{
  width: 1080px;
  margin: 0 auto;
  background: #f2f2f2;
  .planned-performance-info{
    padding: 20px;
  }
  .planned-performance-con{
    background: #fff;
    padding: 20px;
    .top-con,.bottom-con{
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 20px;
      border-bottom: 1px solid #ccc;
      p{
        text-align: center;
      }
      .divider{
        width: 1px;
        height: 50px;
        background: #ccc;
      }
      .desc{
        font-weight: bold;
        font-size: 16px;
      }
    }
    .bottom-con{
      border: none;
      justify-content: flex-start;
      .divider{
        margin-left: 25px;
      }
      .planned-performance-con-item{
        padding: 0 48px;
      }
      .planned-performance-con-item:last-child{
        padding: 0 105px;
      }
    }
  }
}

.common-problems{
  width: 1080px;
  margin: 0 auto;
  padding: 20px;
  .question-item{
    padding: 20px;
    .question-item-tit{
      font-size: 18px;
    }
    .question-item-ans{
      color: #b3b3b3;
      line-height: 28px;
    }
    &:last-child{
      border-top: 1px solid #ccc;
    }
  }
}

