/*成功失败结果页*/
.results-page{
  position: relative;
  .width-1x{
    width: 600px;
    margin: 12% auto 0;
  }
  .width-2x{
    width: 800px;
    margin: 12% auto 0;
  }

  .row{
    img{
      display: block;
      margin: 0 auto;
      max-width: 60px;
    }
    h1{
      font-size: 24px;
      line-height: 50px;
      color: #f8b62b;
      margin: 10px 0 0;
    }
    p{
      font-size: 16px;
      line-height: 32px;
      color: #666;
    }
    .btn{
      width: 240px;
      height: 40px;
      margin-right: 20px;
      line-height: 26px;
    }
  }

  .bottom-info {
    font-size: 16px;
    line-height: 50px;
    color: #999;
    width: 100%;
    padding-top: 8%;
    text-align: center;
    span{
      color: #307bf2;
    }
  }
}
.result-bg{
  background: url(../assets/images/form_bg.jpg) repeat;
  margin-top:10px;
}
//尊享计划结果页
.private-result{
  overflow: hidden;
  background: url(../assets/images/private_result-bg.jpg) top center no-repeat;
  margin-top: 0;
  height: 575px;
  .bottom-info{
    background: transparent!important;
  }
}

// experience result
.experience-result{
  padding-top: 150px;
  position: relative;
  margin-bottom:50px;
  .bottom-info{
    margin-top: 120px;
    font-size: 16px;
  }
}

.private-page{
  .btn-private{
    background: #FBBC55;
    color: #000;
    transition: all .2s ease;
  }
  .btn-private:hover{
    background: #FBBC66;
  }

  .btn-private2 {
    background: transparent;
    color: #FBBC55;
    border: 2px solid #FBBC55;
    transition: all .2s ease;
  }
  .btn-private2:hover {
    background: #FBBC55;
    color: #000;
  }

  .bottom-info {
    background: #000;
    span{
      color: #FBBC55;
    }
  }
}

/*儲值&提现*/
.rw-content{
  .btn-warning{
    width: 330px;
    height: 40px;
    font-size: 16px;
    display: block;
    margin: 30px 0 0 146px;
  }
  .not-card {
    background: url(../assets/images/500.png) no-repeat 160px center !important;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 200px;
    color: #f8b62b;
    padding-left: 230px;
    display: none;
  }
  .tied-card{
    padding-bottom: 80px;
    p {
      font-size: 16px;
      line-height: 36px;
      color: #999;
      position: absolute;
      left: 20px;
      bottom: 20px;
      span{
        color: #307bf2;
      }
    }
  }
}

.recharge-content{
  .content {
    width: 650px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    position: relative;
    .text-error {
      font-size: 14px;
      line-height: 36px;
      color: #999;
      position: absolute;
      bottom: 20px;
      color: #f00;
    }
  }
  #tipsAll{
    color: #f8b62b;
    text-decoration: underline;
  }
  .tips{
    border: 1px dashed #dbdbdb;
    padding:20px 0;
    margin: 0 auto 10px;
    line-height: 32px;
  }
  .table-tips{
    margin-top: 20px;
    th {
      background: #EEF7FF;
      font-weight: 100;
    }
    th,td {
      border: 1px solid #ddd;
      padding: 8px 10px;
    }
    .bank-name {
      width: 85px;
      text-align: center;
    }
    .single-limit {
      width: 80px;
    }
    .card-type {
      width: 80px;
      text-align: center;
    }
    .day-limit {
      width: 80px;
    }
    .intro {
      width: 210px;
    }
  }

}

/*个人中心表单框*/
.personal-bar {
  position: relative;
  margin: 30px 0 0 0 !important;
  overflow: hidden;
  h1 {
    width: 100px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    margin:0;
    margin-right: 4px;
  }
  span {
    width: 160px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    color: #ffbf00;
  }
  input{
    width: 330px;
    height: 40px;
    line-height: 1;
    padding: 5px 35px 5px 5px;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    display: inline-block;
    vertical-align: top;
  }
  .yuan {
    font-size: 16px;
    position: absolute;
    top: 7px;
    left: 400px;
  }

  .sj-error {
    position: absolute;
    left: 440px;
    top: 11px;
    width: 100%;
    span {
      background: url(../assets/images/sj.png) no-repeat 100% 80%;
      width: 8px;
      height: 19px;
      float: left;
    }
    i {
      background: #f8b62b;
      color: #fff;
      padding: 11px;
      border-radius: 2px;
    }
  }
  .card {
    width: 330px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #f8b62b;
    border-radius: 3px;
    font-size: 16px;
    background: url(../assets/images/icon_card_gou.png) no-repeat 100% 0;
    display: inline-block;
    vertical-align: top;
    .whatcard {
      width: 20px;
      float: left;
      margin: 10px 4px 0 10px;
    }
    h2 {
      float: left;
      font-size: 16px;
      line-height: 40px;
      width: 130px;
      margin: 0;
    }
    span {
      float: left;
      font-size: 16px;
      width: 80px;
    }
    font {
      float: right;
      font-size: 16px;
      width: 80px;
    }
  }
}

.changePwd-content{
  .cipherText {
    position: absolute;
    left: 396px;
    top: 0;
    width: 30px;
    height: 40px;
    cursor: pointer;
    transition: all .3s ease;
    color: #f8b62b;
    font-size: 24px!important;
  }
  .vCode {
    width:102px;
    height: 42px;
    line-height: 42px;
    font-size: 14px;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    color: #fff;
  }
  .short-inp {
    width: 227px;
  }
  .form-bar {
    position: relative;
    width: 450px;
    margin: 0 auto 20px;
  }
  .personal-bar{
    overflow: unset;
    h1{
      width: 90px;
    }
    .p-error{
      left:100px;
      .icon{
        width: 22px;
        height: 20px;
        line-height: 20px;
        font-size: 16px;
        display: inline-block;
        vertical-align: top;
        color: #f23030;
      }
    }
  }
  .img-box{
    width: 90px;
  padding-top: 6px;
    display: inline-block;
    vertical-align: top;
  }
.refresh{
  color: #f8b62b;
  cursor: pointer;
  line-height: 34px;
  margin-top: 5px;
  display: inline-block;
}
}
